<nb-card>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/images/1.png" class="d-block w-80" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/3.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
     
    </div>
        <div class="tendencias justify-content-start mt-4">
            <h3>Peliculas tendencias</h3>
            <div class="row m-4">
                    <div class="m-2" style="width: 14rem;">
                        <img src="../../../../assets/images/2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Descripción</p>
                          <button type="submit" nbButton status="primary">Comprar</button>
                        </div>
                      </div>
                    <div class="m-2" style="width: 14rem;">
                        <img src="../../../../assets/images/1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Descripción</p>
                          <button type="submit" nbButton status="primary">Comprar</button>
                        </div>
                      </div>
               <div class="m-2" style="width: 14rem;">
                    <img src="../../../../assets/images/3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Descripción</p>
                      <button type="submit" nbButton status="primary">Comprar</button>
                    </div>
                  </div>
            
                <div class="m-2" style="width: 14rem;">
                    <img src="../../../../assets/images/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Descripción</p>
                      <button type="submit" nbButton status="primary">Comprar</button>
                    </div>
                  </div>
                <div class="m-2" style="width: 14rem;">
                    <img src="../../../../assets/images/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Descripción</p>
                      <button type="submit" nbButton status="primary">Comprar</button>
                    </div>
                  </div>
            </div>
        </div>    
        <div class="top10">
            <div class="row text-center">
                <div class="col">
                  <nb-card>
                    <nb-card-header class=""> <h3>Top 10 videos</h3></nb-card-header>
                    <nb-card-body>
                        <table class="table table-light table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col"><h5>No.</h5></th>
                            <th scope="col"><h5>Video</h5></th>
                            <th scope="col"><h5>ISAN</h5></th>
                            <th scope="col"><h5>Titulo</h5></th>
                            <th scope="col"><h5>Calificación</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/2.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>5</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/1.png" alt=""></div></td>
                            <td>Interestelar</td>
                            <td>123456</td>
                            <td>10</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/3.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>9</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/4.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>7</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/5.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>8</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/6.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>7</td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td><div class="imagen-peli"><img src="../../../../assets/images/7.png" alt=""></div></td>
                            <td>Viaje a marte</td>
                            <td>123456</td>
                            <td>7</td>
                          </tr>
                      </tbody>
                    </table>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
        </div>
        <div class="pqr">
            <div class="row justify-content-start text-center">
                <div class="col-md-5 offset-md-4">
                  <nb-card>
                    <nb-card-header><h3>PQR-Peticiones Quejas y Reclamos</h3></nb-card-header>
                    <nb-card-body>
                        <form action="">
                              <div class="form-group row">
                                <label for="fechaProduccion" class="label col-sm-3 col-form-label">Fecha de lanzamiento</label>
                                <div class="col-sm-9">
                                  <input type="date" nbInput fullWidth id="inputFechaProduccion">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputTitulo" class="label col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <textarea name="textarea" nbInput fullWidth id="inputTitulo" cols="10" rows="5"></textarea>
                                </div>
                              </div>
                              <div class="form-group row ml-3">
                                  <button type="submit" nbButton status="primary">Enviar</button>
                              </div>
                        </form>
                    </nb-card-body>
                  </nb-card>
              </div>
              </div>
        </div>
</div>
