<div class="row text-center">
  <div class="col">
    <nb-card>
      <nb-card-header class="">Visualización PQR's</nb-card-header>
      <nb-card-body>
          <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">No. PQR</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha de envio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
        </tbody>
      </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
