<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <form action=""><nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <div class="row">
          <div class="col-md align-self-center">
            <nb-card>
              <nb-card-header>Registro videos</nb-card-header>
              <nb-card-body>
                  <div class="form-group row">
                    <label for="inputTitulo" class="label col-sm-3 col-form-label">Titulo</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputTitulo">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="fechaProduccion" class="label col-sm-3 col-form-label">Fecha de lanzamiento</label>
                    <div class="col-sm-9">
                      <input type="date" nbInput fullWidth id="inputFechaProduccion">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDuracion" class="label col-sm-3 col-form-label">Duracion</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputDuracion">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputISAN" class="label col-sm-3 col-form-label">ISAN</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputISAN">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCalificacion" class="label col-sm-3 col-form-label">Calificación</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputCalificacion">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputIdioma" class="label col-sm-3 col-form-label">Idioma</label>
                    <div class="col-sm-9">
                      <nb-select fullWidth placeholder="Idioma del video">
                        <nb-option value="1">Español</nb-option>
                        <nb-option value="2">Ingles</nb-option>
                        <nb-option value="3">Frances</nb-option>
                        <nb-option value="4">Japones</nb-option>
                      </nb-select>
                    </div>
                  </div>
              </nb-card-body>
            </nb-card>
        </div>
        </div>
        <ng-template #labelOne>Primer sección</ng-template>
        <h3></h3>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <div class="row">
          <div class="col-md align-self-center">
            <nb-card>
              <nb-card-header>Registro videos</nb-card-header>
              <nb-card-body>
                  <div class="form-group row">
                    <label for="inputActores" class="label col-sm-3 col-form-label">Actores</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputActores">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDirectores" class="label col-sm-3 col-form-label">Directores</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputDirectores">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputProductor" class="label col-sm-3 col-form-label">productor</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputProductor">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCategoria" class="label col-sm-3 col-form-label">Categoria</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputCategoria">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputCalificacion" class="label col-sm-3 col-form-label">Calificación</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputCalificacion">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputVideo" class="label col-sm-3 col-form-label">Video</label>
                    <div class="col-sm-9">
                      <input type="file" nbInput fullWidth id="inputVideo">
                    </div>
                  </div>
              </nb-card-body>
            </nb-card>
        </div>
        </div>
        <ng-template #labelTwo>Segunda Sección</ng-template>
        <h3></h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
    <div class="form-group row justify-content-center">
        <button type="submit" nbButton status="primary">Guardar</button>
    </div>
  </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    Gestion de videos
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
   <h3>Consultas videos Filtros RFC</h3> 
  </nb-card-header>
  <nb-card-body>
    <div class="col-12">
      <form action="">
         <h4 class="row mb-3">Filtros Videos</h4>
       <nb-card>
        <nb-card-body>
            <nb-select placeholder="Tiempo de duración" status="primary" class="mb-4 mr-3">
              <nb-option value="1">120 Min</nb-option>
              <nb-option value="2">80 Min</nb-option>
              <nb-option value="3">70 Min</nb-option>
              <nb-option value="4">60 Min</nb-option>
            </nb-select>
            <input type="text" nbInput fieldSize="medium" placeholder="Rango fechas" [nbDatepicker]="formpicker">
            <nb-rangepicker #formpicker></nb-rangepicker>          
            <nb-card class="ml-3">
              <nb-card-header>Categorias:</nb-card-header>
                <nb-card-body>
                  <nb-radio-group>
                    <nb-radio
                      *ngFor="let option of categorias"
                      [value]="option">
                      {{ option.label }}
                    </nb-radio>
                  </nb-radio-group>
                </nb-card-body>
              </nb-card>
              <nb-card class="ml-3">
                <nb-card-header>Calificación:</nb-card-header>
                  <nb-card-body>
                    <nb-radio-group>
                      <nb-radio
                        *ngFor="let option of calificacion"
                        [value]="option">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </nb-card-body>
                </nb-card>
         
        </nb-card-body>
      </nb-card>
      </form>
      
      <nb-card>
        <nb-tabset fullWidth>
          
          <nb-tab tabTitle="RFC1">
            <div class="row text-center">
              <div class="col">
                <nb-card>
                  <nb-card-body>
                      <table class="table table-light table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col"><h5>No.</h5></th>
                          <th scope="col"><h5>Video</h5></th>
                          <th scope="col"><h5>ISAN</h5></th>
                          <th scope="col"><h5>Titulo</h5></th>
                          <th scope="col"><h5>Calificación</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/2.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/1.png" alt=""></div></td>
                          <td>Interestelar</td>
                          <td>123456</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/3.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>9</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/4.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>7</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/5.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>8</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/6.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>7</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td><div class="imagen-peli"><img src="../../../../assets/images/7.png" alt=""></div></td>
                          <td>Viaje a marte</td>
                          <td>123456</td>
                          <td>7</td>
                        </tr>
                    </tbody>
                  </table>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="RFC2">
            <nb-card>
              <nb-card-body>
                  <table class="table table-light table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col"><h5>No.</h5></th>
                      <th scope="col"><h5>Video</h5></th>
                      <th scope="col"><h5>ISAN</h5></th>
                      <th scope="col"><h5>Titulo</h5></th>
                      <th scope="col"><h5>Calificación</h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/2.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/1.png" alt=""></div></td>
                      <td>Interestelar</td>
                      <td>123456</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/3.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/4.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/5.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/6.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/7.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                </tbody>
              </table>
              </nb-card-body>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="RFC3">
            <nb-card>
              <nb-card-body>
                  <table class="table table-light table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col"><h5>No.</h5></th>
                      <th scope="col"><h5>Video</h5></th>
                      <th scope="col"><h5>ISAN</h5></th>
                      <th scope="col"><h5>Titulo</h5></th>
                      <th scope="col"><h5>Calificación</h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/2.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/1.png" alt=""></div></td>
                      <td>Interestelar</td>
                      <td>123456</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/3.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/4.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/5.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/6.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><div class="imagen-peli"><img src="../../../../assets/images/7.png" alt=""></div></td>
                      <td>Viaje a marte</td>
                      <td>123456</td>
                      <td>7</td>
                    </tr>
                </tbody>
              </table>
              </nb-card-body>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>

